* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #f35 0%,
    #43e 100%
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: #36ddf9;
}